<div class="reddius-body">
    <div class="container"> 
            <div class="row">
                <div class="col-md-7">
                    <div class="card" style="margin-top: 15px;">
                        <div class="card-body">
                            <div class="mb-3">
                                <h5 class="card-title">All Communities</h5>
                            </div>
                                <div class="mb-3" *ngFor="let subreddius of subreddiuses; index as i">
                                      <a name="subreddiuses-link">{{ (i+1) }}. {{  subreddius.subreddiusName }}</a>
                                      <hr>
                                </div>
                        </div>
                     </div>                    
                </div>
                <div class="col-md-5">
                    <app-community-rules></app-community-rules>
                </div>
        </div>
</div>   