<div class="section-auth">
    <div class="row justify-content-center">
         <div class="col-md-3"></div>
         <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                      <h4>Login</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group row">
                            <label for="username" class="col-md-4 col-form-label text-md-right ">Username</label>
                            <div class="col-md-6">
                               <input type="text" id="username" class="form-control" formControlName="username" autofocus>
                               <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched" class="help-block">
                                      Please enter a valid username
                               </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right ">Password</label>
                            <div class="col-md-6">
                               <input type="text" id="password" class="form-control" formControlName="password" autofocus>
                               <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block">
                                      Please enter a valid password
                               </span>
                            </div>
                        </div>
                        <span class="col-md-6 offset-md-4">
                             <button type="submit" class="default-action">
                                 Sign In
                             </button>
                        </span>
                    </form>
                </div>
           </div>
         </div>
         <div class="col-md-3"></div>
    </div>
</div>