.post-card{
    margin-top: 15px;
    margin-bottom: 15px;
}

.user-name{
 font-weight: bold;
 font-size: small;
}

.secundary-info{
    color: grey;
    font-size: small;
}

.additional-info-options{
    color: gray;
    font-size: small;
    font-weight: bold;
}

.space-info-action{
    margin-left: 10px;
}

.not-logged-in{
    border-style: solid; 
    border-width: thin;
    border-color: gray;
    border-radius: 5px;
    align-items: center;
    padding: 12px 8px;
    margin-left: 2px;
    margin-right: 30px;
}

.login-invitation{
    color:gray;
    font-family: Verdana;
    font-size: 14px;
}
