.post-card{
    margin-top: 15px;
    margin-bottom: 15px;
}

.user-name{
 font-weight: bold;
 font-size: small;
}

.secundary-info{
    color: grey;
    font-size: small;
}

.additional-info-options{
    color: gray;
    font-size: small;
    font-weight: bold;
}

.space-info-action{
    margin-left: 10px;
}