<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card post-card">
                <div class="row">
                    <div class="col-sm-1">
                        <app-vote-button [post]="post$"></app-vote-button>
                    </div>
                    <div class="col-sm-11">
                        <div class="card-body">
                            <span class="user-name">r/{{ post$.subreddiusName }} </span>
                            <span class="secundary-info"> Posted by u/{{ post$.userName }} {{ post$.duration }} </span>
                            <hr/>
                            <h5>{{ post$.postName }}</h5>
                            <p class="secundary-info" *ngIf="post$.description != undefined and post$.description != null" [innerHtml]="post$.description"></p>
                            <div>
                                <fa-icon style="color: gray" [icon]="faCommentAlt"></fa-icon>
                                <span class="additional-info-options"> {{ post$.commentCount }} Comments</span>
                            </div>
                            <div style="margin-top: 10px;">
                                <div *ngIf="isLoggedIn; else elseBlock">
                                    <app-comment-post [post]="post$"></app-comment-post>
                                </div>  
                                <ng-template #elseBlock>
                                    <div class="row not-logged-in">
                                            <div class="col-sm-7 login-invitation">
                                                Log in or sign up to leave a comment  
                                            </div>
                                            <button type="button" class="btn btn-outline-primary" style="border-radius: 50px; margin-left:auto;">Log In</button>
                                            <button type="button" class="btn btn-primary" style="border-radius: 50px; margin-left: 10px;">Sign Up</button>                                 
                                    </div>                                   
                                </ng-template>
                                <app-comments-list [postid]="post$.postId"></app-comments-list>
                            </div>                            
                        </div>
                    </div>
                </div>   
            </div>
        </div>
        <div class="col-md-4">
          <app-community-rules></app-community-rules>
        </div>
    </div> 
</div>
