<div class="card sidebar-card">
     <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
     <p class="announcement inner-space-subreddius">
          Welcome to Spring Reddit (Reddius) clone page. Come here to check in with your favorite subreddius
     </p>
     <div style="text-align: center;" class="inner-space">
         <button class="btn btn-primary large-button" (click)="createPost()">CREATE POST</button>
     </div>
     <div style="text-align: center;" class="inner-space">
        <button class="btn btn-outline-primary large-button" (click)="createSubreddius()">CREATE SUBREDDIUS</button>
     </div>
</div>
