.upvote:hover{
    color: green;
}

.downvote:hover{
    color: red;
}

.btn-vote-column{
     align-items: center;
     flex-direction: column;
     margin-top: 17px;
     fill: inherit;
     display: flex;
}