/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched{
    border: 1px solid red;    
}

body{
    background-color: #cfd8dc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    border: 1px solid #babdbe;
}